form {
    display: grid;
    grid-template-columns: 1fr;

  }

  .feedback-form {
		margin: 0 auto;
		width: 100%;
		min-width: 250px;
		max-width: 450px;
	}
  	input,
	textarea {
		font-size: inherit;
		margin: 15px 0;
		padding: 5px 20px;
	}
	/* button {
      background-color: #339BEB;
      border: 1px solid black;
      color: white;
      font-size: inherit;
      margin: 15px 0;
      padding: 12px 20px;
      cursor: pointer;
	} */
	.hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}