header {
	position: fixed;
	z-index: 9;
	transition: all 300ms;
	top: 0;
  width: 100%;
  padding: 10px 10px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.10);
}
header.white-bg {
  background-color: #fff !important;
	  background: #fff !important;
	  color: #000;	
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.5);
} 
header .content__container {
	  display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

header .content__container .header-logo-menu__container {
	display: flex;
    width: 100%;
    justify-content: space-between;
}
header .content__container.container-header{
  padding: 10px 10px;
}

  header.header--right {
    display: grid;
    grid-template-columns: 1fr auto auto;
  }
  .header-logo__link {
    width: fit-content;
    color: inherit;
    text-decoration: none;
  }
  .header-logo-menu__container {
    display: flex;
    align-items: center;
    z-index: 100;
    justify-content: space-between;
  }
  .header-action-item__container {
    z-index: 100;
  }
  #menuButton {
    outline: none;
    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  #menuButton > span {
    color: var(--theme-on-bg);
    vertical-align: middle;
  }
  nav {
  display: flex;
  }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }
  nav ul li a {
    text-decoration: none;
    margin-right: 1rem;
    color: inherit;
    opacity: 0.72;
    transition: opacity linear 150ms;
  }
  nav ul li a:hover {
    opacity: 1;
  }
  nav ul li.has-submenu {
    position: relative;
  }
  nav ul li.has-submenu .sub-menu {
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    transition: all 300ms ease-in;
    position: absolute;
    min-width: 180px;
    background-color:  #fff;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 0px 0px 5px 0px #ccc;
    left: -50%;
  }
  nav ul li.has-submenu:hover .sub-menu  {
    height: auto;
    opacity: 1;
  }
  @media(max-width: 991px) {
    #menuButton {
      display: block;  
      z-index: 100;
    }
    .header-nav__container {
      width: 100%;
      height: 0;
      background-color: var(--theme-bg);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      inset: 0;
      z-index: 0;
      transition: all 300ms ease-in;
      opacity: 0;
    }
    header[mobile-menu-open] .header-nav__container {
      display: flex;
      height: 100%;
      z-index: 99;
      opacity: 1;
    }
    header[mobile-menu-open] nav ul {
      align-items: center;
      flex-direction: column;
    }
     header[mobile-menu-open] nav ul li {
       font-size: var(--font-size-lg);
       margin-bottom: 1rem;
     }
  }