---
import { useRef } from 'react';
---

<!-- Modal template -->
<dialog ref={modalRef} class="modal">
  <div class="modal-content">
    <slot name="main"></slot>
  </div>
  <button class="modal-close" onclick={() => modalRef.current.close()}>Close</button>
</dialog>

